<div class="container center" style="margin-top: 20px; margin-bottom: 20px;">
	<% game.session_data['board_matrix'].each_with_index do |row, row_index| %>

		<div class="row" style="margin-bottom: auto;">
			<% row.each_with_index do |value, col_index| %>
				<% if col_index.zero? %>
					<div class="col s1 offset-s2 square-container">
						<div class="card square" data-player-id="<%= player %>" data-col="<%= col_index %>" data-player-moves-url="<%= game_player_moves_path(player) %>">
							<div class="dot dot_type_<%= value %>"><%= "#{row_index} - #{col_index}" %></div>
						</div>
					</div>
				<% else %>
					<div class="col s1 square-container">
						<div class="card square" data-player-id="<%= player %>" data-col="<%= col_index %>" data-player-moves-url="<%= game_player_moves_path(player) %>">
							<div class="dot dot_type_<%= value %>"><%= "#{row_index} - #{col_index}" %></div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>

	<div>
		<% if player.to_i == game.session_data['player_turn'] %>
			<a class="<%= player.to_i == game.player_one_id ? 'player_one' : 'player_two'%>"> Your turn! </a>
		<% else %>
			<a class="<%= player.to_i == game.player_one_id ? 'player_two' : 'player_one'%>"> Opponent turn </a>
		<% end %>
		<!-- <a class="blue-text">TODO: GET Winner Message here! </a> -->
	</div>
</div>
