<!DOCTYPE html>
<html>
  <head>
    <title>ConnectFourGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo" style="margin-left: 10px;" href="<%= root_url %>"> Connect Four Game</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if current_player.present? %>
              <li><a class="reset-game-btn" data-update-game-url="<%= game_path(current_player) %>"> Reset Game </a></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <% if current_player.present? %>
          <li><a class="reset-game-btn" data-update-game-url="<%= game_path(current_player) %>"> Reset Game </a></li>
        <% end %>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About</h5>
            <p class="grey-text text-lighten-4"> Connect Four Game using Ruby on Rails with Action Cable </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text"> References </h5>
            <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/nosleinfull/connect-four-game">Github Repo</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://materializecss.com/">Materializecss</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://edgeguides.rubyonrails.org/action_cable_overview.html">Action Cable Overview</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2021 Made with s2
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://www.linkedin.com/in/nielson-fernandes-silva-01196692"> Nielson - Software Engineer profile </a>
        </div>
      </div>
    </footer>
  </body>
</html>
